@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html{
  background-color: #121212;
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}
footer {
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_links li a:hover {
    color: #C8F560;
}

header button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #C8F560;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

header button:hover {
    background-color: rgb(255, 255, 255);
}

input[type="button"]{
  cursor: pointer;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 16px;
}
.btn-7 {
  background: rgba(200,245,96,0.5);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgb(255, 255, 255);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(255, 255, 255);
    
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }



.container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
    padding: 0 0;
  }
  
  .footer {
    background-color: #121212;
    padding: 70px 0;
    box-sizing: border-box;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #C8F560;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #C8F560;
  }
  
  
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
  



.container1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 12vh;
    color: white;
    text-align: center;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

.kontakt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontakt h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.kontakt form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: white;
    border-radius: 10px;
    font-size: 16px;
    margin: 12px 0;
    color: #757575;
}

.field .item::placeholder {
    color: #a1a1a1;
}

.input-box .input-field {
    width: 48.5%;
}

form button {
    padding: 12px 32px;
    background: #C8F560;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    width: 48.5%;
    height: 50px;
    margin-top: 15px;
}

.container1 h2 {
    margin-bottom: 10px;
    font-size: 35px;
}

.spokojenost {
  justify-content: left;
  margin-right: 122px;
}

.box {
  display: flex;
}